body {
  background-color: rgb(64, 213, 174);
  background-color: rgb(64, 213, 174, 0.2);
  font-family: 'Trebuchet MS', sans-serif;
}

.topOfPage {
  width: 103.5%;
  position: relative;
  text-align: center;
  color: black;
  margin-top: -8px;
  margin-inline-start: -2%;
}

.titleH1 {
  font-size: 2.5vw;
  width: 100%;
  position: absolute;
  top: -15%;
  translate: translate(-50%, -50%);
  font-family: Georgia, sans-serif;
}

.bottomOfPage {
  width: 103.5%;
  position: relative;
  text-align: center;
  color: black;
  margin-inline-start: -2%;
}

.copyright {
  font-size: 3vw;
  width: 100%;
  position: absolute;
  top: 0%;
  translate: translate(-50%, -50%);
}